{% extends "index/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>
        SNAKE VERSIONS
    </title>
    {% endblock %}
</head>

<body>
    {% block title %}
    <h1>
        GreatestNinja Snake Versions
    </h1>
    {% endblock %} 
    {% block body %}
    <div class="container">
        <h2>
            Versions
        </h2>
        <h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Version 2.6.2: Bug Fix with Bootbox Confirm</li>
                <li class="list-group-item list-group-item-danger">Version 2.6.1: Added Bootbox Confirm</li>
                <li class="list-group-item list-group-item-primary">Version 2.6.0: Added Snake Versions</li>
                <li class="list-group-item list-group-item-danger">Version 2.5.3: Added Github Link In the Website</li>
                <li class="list-group-item list-group-item-primary">Version 2.5.2: Bug Fix with Scrolling Sysytem</li>
                <li class="list-group-item list-group-item-danger">Version 1.5.0: Added Keys for Mobile Devices</li>
                <li class="list-group-item list-group-item-primary">Version 2.5.0 Added Snake APK Download and Bug Fix with the Buttons In Mobile Devices</li>
                <li class="list-group-item list-group-item-danger">Version 2.4.1: Added Images to README.md</li>
                <li class="list-group-item list-group-item-primary">Version 2.4.0: Change Height and Width on Different Devices</li>
                <li class="list-group-item list-group-item-danger">Version 2.3.2: Fixed Bugs with the Speeding Up System and Added It In the Controls</li>
                <li class="list-group-item list-group-item-primary">Version 2.3.1: Removed from gnn.lianghub.com (Website No Longer Exist)</li>
                <li class="list-group-item list-group-item-danger">Version 2.3.0: Released on gnn.liangyang.me/games/snake/ and gnn.lianghub.com/games/snake/</li>
                <li class="list-group-item list-group-item-primary">Version 2.2.1: Change Dropdowns to Dropups to Fit</li>
                <li class="list-group-item list-group-item-danger">Version 2.2.0: Change from Bootstrap 4 to 5</li>
                <li class="list-group-item list-group-item-primary">Version 2.0.2: Updated README.md By Adding Versions, Links, and Controls</li>
                <li class="list-group-item list-group-item-danger">Version 2.0.1: Released README.md</li>
                <li class="list-group-item list-group-item-primary">Version 2.0.0: Released on github.com/kiwirafe/Snake/ and gnn.lianghub.com/games/snake/</li>
                <li class="list-group-item list-group-item-danger">Version 1.5.0: Bug Fix with Bootbox</li>
                <li class="list-group-item list-group-item-primary">Version 1.5.1: Added Bootbox</li>
                <li class="list-group-item list-group-item-danger">Version 1.5.0: Added Bootstrap</li>
                <li class="list-group-item list-group-item-primary">Version 1.4.0: Added Start / Stop Button</li>
                <li class="list-group-item list-group-item-danger">Version 1.3.1: Bug Fix Fast forward Feature</li>
                <li class="list-group-item list-group-item-primary">Version 1.3.0: Added Fast forward Feature</li>
                <li class="list-group-item list-group-item-danger">Version 1.2.2: Allowed to Change Background Colors By Typing</li>
                <li class="list-group-item list-group-item-primary">Version 1.2.1: Bug Fix with the Changing Color Problem</li>
                <li class="list-group-item list-group-item-danger">Version 1.2.0: Allowed to Change Bakground Colors</li>
                <li class="list-group-item list-group-item-primary">Version 1.1.2: Added Library with JavaScript Colors So Your Can't Type Colors Wrong</li>
                <li class="list-group-item list-group-item-danger">Version 1.1.1: Allowed to Change Snake & Apple's Color By Typing</li>
                <li class="list-group-item list-group-item-primary">Version 1.1.0: Allowed to Change Snake & Apple's Color</li>
                <li class="list-group-item list-group-item-danger">Version 1.0.0: Game Released on gnn.lianghub.com/snake/</li>
            </ul>
        <br/>
        <h2>
            Next Steps
        </h2>
        <h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Allow Save Score</li>
                <li class="list-group-item list-group-item-info">Update Github</li>
                <li class="list-group-item list-group-item-info">Update the APK</li>
            </ul>
        </h5>
    </div>
    {% endblock %}
</body>

</html>